* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
.containerr {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #08f894;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &::before {
    background: linear-gradient(rgb(255, 251, 0), rgb(195, 0, 255));
    clip-path: circle(50% at right -20%);
  }
  &::after {
    background: linear-gradient(#33f321, #e95e1e);
    clip-path: circle(20% at 20% 50%);
    z-index: 0;
  }
}
.containerr .card {
  position: relative;
  background: rgba(183, 0, 255);
  width: 300px;
  height: 250px;
  margin: 50px;
  border-radius: 25px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  //important ===== not support IE11
  backdrop-filter: blur(10px);
  //end ======================
}
.containerr .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;
}
.containerr .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}
.containerr .card .imgBx {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.2);
}
.containerr .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerr .card .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}
.containerr .card .contentBx span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}
.containerr .card .sci {
  position: absolute;
  bottom: 20px;
  display: flex;
}
.containerr .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;

  //important-----------------------------
  transition-delay: calc(0.1s * var(--i));
  //end-----------------------------
}
.containerr .card:hover .sci li {
  transform: translateY(20px);
  opacity: 1;
}
.containerr .card .sci a {
  color: #fff;
  font-size: 24px;
  transition: 1s;
}
.containerr .card .sci a:hover {
  color: #000;
  transition: 1s;
}
